@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-navy: #061D30;
  --navy: #072D4B;
  --light-navy: #0A3B61;
  --aqua: #00F1C5;
  --snow: #FDFDFD;
  --lylla: #E0D6FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--snow);
  background: var(--dark-navy);
}
